#div01 {

	width: 480px;
	height: 270px;

	background-color: blueviolet;
	transition: all 0.5s ease-in-out;
}


#div01:hover {

	width: 485px;
	height: 275px;

	background-color: blueviolet;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: box-shadow 0.5s;
}